{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content colorop">
    <h1>Welcome to BCA Program</h1>
    <p>Start Your Journey in Computer Science</p>
    <a href="#learn-more" class="btn btn-primary">Learn More</a>
  </div>
</section>

<!-- Information Section -->
<section id="learn-more" class="info">
  <div class="info-content">
    <h2>About BCA</h2>
    <p>
      The Bachelor of Computer Applications (BCA) program is an undergraduate course that offers a strong foundation in computer science and its applications. It's the perfect starting point for a career in the tech industry.
    </p>
    <h2>Why Choose BCA?</h2>
    <p>
      BCA graduates are well-prepared for various roles in software development, web development, and more. This program covers programming, database management, and software engineering fundamentals.
    </p>
  </div>
  <div class="hero-content">
    <a href="/Admission" class="btn btn-primary">Admission</a>
</div>
</section>

{% endblock body %}
