{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content colorop">
    <h1>Welcome to Degree Program</h1>
    <p>Pursue Your Academic Journey</p>
    <a href="#learn-more" class="btn btn-primary">Learn More</a>
  </div>
</section>

<!-- Information Section -->
<section id="learn-more" class="info">
  <div class="info-content">
    <h2>About the Degree Program</h2>
    <p>
      Our Degree Program offers a comprehensive curriculum, providing a solid academic foundation for various fields of study. It's an excellent choice for those seeking advanced knowledge and skills in their chosen discipline.
    </p>
    <h2>Why Choose Our Degree Program?</h2>
    <p>
      Graduates from our Degree Program excel in their respective fields, equipped with in-depth knowledge and practical expertise. The program covers a wide range of subjects, ensuring a well-rounded education.
    </p>
  </div>
  <div class="hero-content">
    <a href="/Admission" class="btn btn-primary">Admission</a>
  </div>
</section>

{% endblock body %}
