{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Hero Section -->
<section class="hero">
  <div class="hero-content colorop">
    <h1>Master of Business Administration (MBA)</h1>
    <p>Your Path to Business Leadership</p>
    <a href="#learn-more" class="btn btn-primary">Learn More</a>
  </div>
</section>

<!-- Information Section -->
<section id="learn-more" class="info">
  <div class="info-content">
    <h2>About MBA</h2>
    <p>
      The Master of Business Administration (MBA) is a prestigious graduate program that provides advanced business and leadership skills. It prepares individuals for leadership roles in various industries.
    </p>
    <h2>Why Choose MBA?</h2>
    <p>
      An MBA degree opens doors to diverse career opportunities in management, finance, marketing, and entrepreneurship. This program offers a deep understanding of business strategies, leadership, and critical thinking.
    </p>
  </div>
  <div class="hero-content">
    <a href="/Admission" class="btn btn-primary">Admission</a>
</div>
</section>

{% endblock body %}
