{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="hero">
    <div class="hero-content colorop">
      <h1>Welcome to MCA Program</h1>
      <p>Unlock Your Potential in Computer Science</p>
      <a href="#learn-more" class="btn btn-primary">Learn More</a>
    </div>
  </section>
  
  <!-- Information Section -->
  <section id="learn-more" class="info">
    <div class="info-content">
      <h2>About MCA</h2>
      <p>
        The Master of Computer Applications (MCA) is a postgraduate program that provides in-depth knowledge of computer science and its applications. It equips students with the skills and expertise to thrive in the ever-evolving technology landscape.
      </p>
      <h2>Why Choose MCA?</h2>
      <p>
        MCA graduates are in high demand, with excellent career prospects in software development, data analysis, and more. This program offers a deep dive into programming, algorithms, and software engineering.
      </p>
    </div>
    <div class="hero-content">
        <a href="/Admission" class="btn btn-primary">Admission</a>
    </div>
  </section>

{% endblock body %}