{% load static %}
<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    {% for message in messages %}
    <div class="alert-alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Messages:</strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
<!-- 
    <form action="/signup" method="post" style="border:1px solid #ccc">
        {% csrf_token %}
        <div class="container">
            <h1>
                <center>Sign Up</center>
            </h1>
            <p>
                <center>Please fill in this form to create an account.</center>
            </p>
            <hr>

            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Create Username (only letters and numbers)" name="uname" required>

            <label for="fname"><b>FirstName</b></label>
            <input type="text" placeholder="Enter FirstName" name="fname" required>

            <label for="lname"><b>LastName</b></label>
            <input type="text" placeholder="Enter LastName" name="lname" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="pass1"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pass1" required>

            <label for="pass2"><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="pass2" required>

            <a href="/signin">Already have an account ?</a><br><br>

            <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form> -->


    <!-- component -->
    <div class="bg-gray-100 flex justify-center items-center h-screen">
        <!-- Left: Image -->
        <div class="w-1/2 h-screen hidden lg:block">
            <img src="{% static 'uni.jpg' %}"
                alt="Placeholder Image" class="object-cover w-full h-full">
        </div>
        <!-- Right: Login Form -->
        <div class="lg:p-36 md:p-52 sm:20 w-full lg:w-1/2">
            <h1 class="text-2xl font-semibold mb-4">Sign up</h1>
            <form action="/signup" method="post">
                {% csrf_token %}
                <!-- Username Input -->
                <div class="mb-4">
                    <label for="username" class="block text-gray-600">Username</label>
                    <input type="text" placeholder="Create Username (only letters and numbers)" name="uname" required
                        class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                        autocomplete="off">
                </div>
                <!-- Password Input -->
                <div class="mb-4">
                    <label for="password" class="block text-gray-600">FirstName</label>
                    <input type="text" placeholder="Enter FirstName" name="fname" required
                        class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                        autocomplete="off">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-600">LastName</label>
                    <input type="text" placeholder="Enter LastName" name="lname" required
                        class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                        autocomplete="off">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-600">Email</label>
                    <input type="email" placeholder="Enter Email" name="email" required
                        class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                        autocomplete="off">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-600">Password</label>
                    <input type="password" placeholder="Enter Password" name="pass1" required
                        class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                        autocomplete="off">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-600">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" name="pass2" required
                        class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
                        autocomplete="off">
                </div>
                <!-- Remember Me Checkbox -->
                <div class="mb-4 flex items-center">
                    <input type="checkbox" id="remember" name="remember" class="text-blue-500">
                    <label for="remember" class="text-gray-600 ml-2">Remember Me</label>
                </div>
                <!-- Forgot Password Link -->
                <div class="mb-6 text-blue-500">
                    <a href="#" class="hover:underline">Forgot Password?</a>
                </div>
                <!-- Login Button -->
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">Sign-Up</button>
            </form>
            <!-- Sign up  Link -->
            <div class="mt-6 text-blue-500 text-center">
                <a href="/signin" class="hover:underline">Log-In Here</a>
            </div>
        </div>
    </div>

</body>

</html>